<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title>$changelogTitle</title>

<link rel="stylesheet" type="text/css" href="static/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="static/stylesheets/print.css" media="print" />
<link rel="stylesheet" type="text/css" href="static/stylesheets/overrides.style.css" />
<link rel="stylesheet" type="text/css" href="static/stylesheets/overrides.print.css" media="print" />


<link rel="stylesheet" type="text/css" href="static/stylesheets/syntaxhighlighter/shCore.css" />
<link rel="stylesheet" type="text/css" href="static/stylesheets/syntaxhighlighter/shThemeRailsGuides.css" />
</head>
<body class="guide">
  <div id="topNav">
    <div class="wrapper">
      

    </div>
  </div>
  
  <div id="header">
    <div class="wrapper clearfix">
      <h1><a href="index.html" title="Return to home page">Gentics Content.Node Changelogs</a></h1>
      <p class="hide"><a href="#mainCol">Skip navigation</a>.</p>
      <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li class="index"><a href="index.html" onclick="guideMenu(); return false;" id="guidesMenu">Changelog Index <span id="guidesArrow">&#9656;</span></a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <dl class="L">
    <dt>Summary</dt>
      <dd><a href="merged_changelog.html">Gentics Content.Node Changelog Summary</a></dd>
    <dt>Releases</dt>
    #foreach($changelog in $changelogs)
    <dd><a href="${changelog.version}.html">Gentics Content.Node Feature Release $changelog.version</a></dd>
    #end
</dl>
<dl class="R">
</dl>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  <hr class="hide" />

   <div id="feature">
    <div class="wrapper">
      <h2>Gentics Content.Node Changelogs</h2>
      <p>This is a summary of Gentics Content.Node changelogs</p>
    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
          <h3>Summary</h3>

  <dl>
      <dt><a href="merged_changelog.html">Gentics Content.Node Changelog Summary</a></dt>
      <dd>
        
        <p></p>
      </dd>
  </dl>
  <h3>Releases</h3>

  <dl>

    #foreach($changelog in $changelogs)
     <dt><a href="${changelog.version}.html">Gentics Content.Node Feature Release $changelog.version</a></dt>
      <dd>
        <p>Release Date: $changelog.date</p>
        <p></p>
      </dd>
    #end
  </dl>

<a href="http://www.gentics.com/Content.Node/infoportal/cms/changelog/changelog.php">Gentics Content.Node 4 Changelogs</a>

      </div>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">
      
  <p>
  </p>

    </div>
  </div>

  <script type="text/javascript" src="static/javascripts/guides.js"></script>
  <script type="text/javascript" src="static/javascripts/syntaxhighlighter/shCore.js"></script>
  <script type="text/javascript" src="static/javascripts/syntaxhighlighter/shBrushRuby.js"></script>
  <script type="text/javascript" src="static/javascripts/syntaxhighlighter/shBrushJScript.js"></script>
  <script type="text/javascript" src="static/javascripts/syntaxhighlighter/shBrushCss.js"></script>
  <script type="text/javascript" src="static/javascripts/syntaxhighlighter/shBrushXml.js"></script>
  <script type="text/javascript" src="static/javascripts/syntaxhighlighter/shBrushSql.js"></script>
  <script type="text/javascript" src="static/javascripts/syntaxhighlighter/shBrushPlain.js"></script>
  <script type="text/javascript">
    SyntaxHighlighter.all()
  </script>
</body>
</html>
