<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>$changelogTitle</title>
</head>
<body>
<div id="main">

<h2>Gentics Content.Node Changelog Summary</h2>

The online version of the changelog can be found <a href="http://www.gentics.com/Content.Node/changelog/index.html" target="_blank">here</a>

<div class="manual"></div>

#foreach($changelog in $changelogs)
	<h2>Gentics Content.Node $changelog.version</h2>
	#foreach($entry in $changelog.getChangelogEntries())
		#set($html = $entry.getHTML())
		
		#if ($entry.type == "bugfix") 
			<h4 style="vertical-align:middle;"> <strong>Bugfix $entry.ticketReference</strong></h4>
		#elseif ($entry.type == "enhancement") 
			<h4 style="vertical-align:middle;"> <strong>Enhancement $entry.ticketReference</strong></h4>
		#elseif ($entry.type == "feature") 
			<h4 style="vertical-align:middle;"> <strong>Feature $entry.ticketReference</strong></h4>
		#elseif ($entry.type == "manualchange")
			<div class="warning"><p><strong style="color: red">Manual Change</strong> $entry.getHTMLHeadline() </p></div>
			#set($html = $entry.getHTMLWithoutHeadline())	
		#end
		$html
		<hr />
	#end
	#set($alohaversion = $changelog.getGenericProperties().get("alohaeditor-version"))
	#set($alohadate = $changelog.getGenericProperties().get("alohaeditor-date"))
	#set($divider = "-")
	
	#if( ! $alohadate)
		#set($alohadate = "")
		#set($divider = "")
	#end
    <div class="note"><p>This Gentics Content.Node version includes the <a href="https://github.com/alohaeditor/Aloha-Editor/blob/alohaeditor-${alohaversion}-commercial/CHANGELOG.md">Aloha Editor $alohaversion $divider $alohadate</a></p></div>
	
	<p><br/><br/></p>
#end

</div>

<h2>Changes for Gentics Content.Node 5.0 20110311c, 4.x and older</h2>
<ul>
<li><a href="http://www.gentics.com/Content.Node/infoportal/cms/changelog/changelog.php">/Content.Node/infoportal/cms/changelog/changelog.php</a></li>
</ul>
</div>
</body>
</html>